@use "src/theme/index" as *;

.select {
  width: 100%;
  height: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 0 0 1.5px map-get($map: $dark, $key: 200);
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  @include flex;
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1.5px map-get($map: $dark, $key: 200),
      0 0 6px 1px map-get($map: $primary, $key: 400);
    background-color: transparentize($color: map-get($primary, 400), $amount: 0.8);
  }
  svg {
    width: 0.8rem;
  }
}

.dropdown {
  position: absolute;
  background-color: map-get($map: $dark, $key: 400);
  width: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 1;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 11px 3px transparentize($color: #000, $amount: 0.8);

  p {
    padding: 0.5rem 1rem;

    &:hover {
      background-color: transparentize(map-get($primary, 400), 0.7);
    }
  }
  .selected {
    background-color: transparentize(map-get($primary, 400), 0.7);
  }
}
