@use "src/theme/index" as *;

.form {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 11px 1px #23232350;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-template-rows: 1fr 0.5fr;
  border: 1px solid map-get($map: $dark, $key: 300);
  gap: 1rem;

  .title {
    border-bottom: 3px dashed map-get($map: $primary, $key: 500);
    margin-bottom: 0.2rem;
    display: inline-block;
  }

  .range {
    margin-top: 0.8rem;
    width: 100%;
  }
}
