@use "colors" as *;

@mixin grid($columns: 3, $gap: 16px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
  @content;
}

@mixin autofill($min: 400px, $gap: 16px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min, 1fr));
  grid-gap: $gap;
  @content;
}

@mixin flex($justify: space-between, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  @content;
}

@mixin shadow($size: large) {
  @if $size == small {
    box-shadow: 0 0 8px 1px rgba(map-get($dark, 400), 0.3);
  } @else {
    box-shadow: 0 0 22px 3px rgba(map-get($grey, 400), 0.3);
  }
}
