.main {
  border-radius: 1rem;
  box-shadow: 0 0 11px 1px #23232350;
  margin: 2rem 0;
  overflow: hidden;
}

.flex-item {
  width: 150px;
  height: 150px;
  display: grid;
  place-content: center;
}
