@use "src/theme/colors" as *;

.main {
  border-radius: 1rem;
  box-shadow: 0 0 11px 1px #23232350;
  border: 1px solid map-get($map: $dark, $key: 300);
  margin: 2rem 0;
  overflow: hidden;
  height: 400px;
}

.flex-item {
  padding: 1rem;
  display: grid;
  place-items: center;

  span {
    font-size: 1.3rem;
  }
}
