@use 'src/theme/index' as *;

.header {
  height: 64px;
  @include flex;
  color: white;
  padding: 0 8vw;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    padding: 0 0.5rem;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      color: map-get($map: $primary, $key: 400);
    }

    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
      width: 120%;
      height: 1.5rem;
      border: 2px dashed map-get($primary, 500);
      left: 50%;
      top: 50%;
      background-color: transparentize(map-get($primary, 500), $amount: 0.8);
    }

    &:hover:after {
      animation: fadein 0.4s;
      transform: translate(-50%, -50%) rotate(0) scaleX(1);
    }
  }

  img {
    margin-right: 0.15rem;
  }
}

.primary {
  color: map-get($primary, 500);
}

@keyframes fadein {
  from {
    transform: translate(-50%, -50%) rotate(90deg) scaleX(0);
    width: 1.5rem;
  }
  to {
    transform: translate(-50%, -50%) rotate(0) scaleX(1);
    width: 120%;
  }
}
