@use 'src/theme/index' as *;

.header {
  height: 64px;
  @include flex;
  color: white;
  padding: 0 8vw;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    padding: 0 0.5rem;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      color: map-get($map: $primary, $key: 400);
    }
  }

  img {
    margin-right: 0.15rem;
  }
}
