@use "src/theme/colors" as c;

.dark-mode {
  background-color: map-get($map: c.$dark, $key: 400);
  // background-image: url('https://images.unsplash.com/photo-1493217465235-252dd9c0d632?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-image: url('https://images.unsplash.com/photo-1524439210809-5b21a2e18582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2002&q=80');
  background-blend-mode: multiply;
  // filter: contrast(1.3);
  min-height: 100vh;
  color: #ffffffaa;

  ::-moz-selection {
    /* Code for Firefox */
    color: map-get(c.$dark, 500);
    background: map-get(c.$primary, 500);
  }

  ::selection {
    color: map-get(c.$dark, 500);
    background: map-get(c.$primary, 500);
  }
}
